<div class="container mt-3">
  <h1>投稿編集</h1>
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :title, "施設名" %>
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>
  
    <div class="form-group">
      <%= f.label :address, "住所" %>
      <%= f.text_field :address, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <label>タグ</label><br>
      <div class="d-flex flex-wrap">
        <% Tag.all.each do |tag| %>
          <div class="form-check mr-3 mb-2">
            <%= check_box_tag "post[tag_ids][]", tag.id, @post.tag_ids.include?(tag.id), id: "tag_#{tag.id}" %>
            <%= label_tag "tag_#{tag.id}", tag.name %><br>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "更新する", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <%= link_to "投稿を削除", post_path(@post), method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか？" } %>
</div>