<div class="custom-container-fluid mt-3">
  <div class="row">
    <!--サイドバー-->
    <div class="col-md-2">
      <%= render 'public/shared/sidebar' %>
    </div>
    <!--メインコンテンツ-->
    <div class="col-md-10">
      <h1>みんなの投稿</h1>
      <!--絞り込み機能-->
      <%= render 'public/shared/filter', path: posts_path %>
      <!--ソート機能-->
      <%= render 'public/shared/posts_sort', path: posts_path %>
      <!--一覧テーブル-->
      <%= render 'public/shared/posts_table', posts: @posts %>
      <div class="row d-flex justify-content-center mb-3">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>