<div class="container d-flex flex-column align-items-center ">
  <div class='mx-auto mb-5 col-11 col-md-10 col-lg-8'>
    <h2>設備の投稿</h2>
    <%= form_with model: @post, url: posts_path, local: true do |f| %>
      <div class="form-group">
        <label for="facility_type">設備の種類</label><br>
        <%= radio_button_tag 'facility_type', 'nursing_room', true, id: 'nursing_room', required: true %>
        <%= label_tag 'nursing_room', '授乳室' %><br>
    
        <%= radio_button_tag 'facility_type', 'diaper_changing_station', false, id: 'diaper_changing_station', required: true %>
        <%= label_tag 'diaper_changing_station', 'おむつ替え' %><br>
      </div>
    
      <div class="form-group">
        <%= f.label :image, "画像" %>
        <%= f.file_field :image %>
      </div>
    
      <div class="form-group">
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, class: "form-control", required: true %>
      </div>
    
      <div class="form-group">
        <label>オプション</label><br>
        <div class="d-flex flex-wrap">
          <% Tag.all.each do |tag| %>
            <div class="form-check mr-3 mb-2">
              <%= check_box_tag "post[tag_ids][]", tag.id, @post.tag_ids.include?(tag.id), id: "tag_#{tag.id}" %>
              <%= label_tag "tag_#{tag.id}", tag.name %><br>
            </div>
          <% end %>
        </div>
      </div>
      <%= f.submit "投稿する", class: "btn btn-primary mb-3" %>
    <% end %>
    <%= link_to "戻る", new_post_path, class: "pb-5" %>