<div class="container mt-3">
  <h1>タグ一覧</h1>
  <div class="d-flex flex-wrap mb-5">
    <% @tags.each do |tag| %>
      <div class="m-2 p-2 border rounded d-flex align-items-center">
        <span class="mr-2"><%= tag.name %></span>
        <%= link_to admin_tag_path(tag), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "close ml-2", aria: {label: "Close"} do %>
          <span aria-hidden="true">&times;</span>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= form_with(model: @tag, url: admin_tags_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name, "新しいタグを作成" %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
    <%= f.submit "作成", class: "btn btn-success" %>
  <% end %>
</div>