<div class="custom-container-fluid mt-3">
  <div class="row">
    <!--サイドバー-->
    <div class="col-md-2">
      <%= render 'public/shared/sidebar' %>
    </div>
    <!--メインコンテンツ-->
    <div class="col-md-10">
      <% if @model == 'user' %>
        <h1>"<%= @content %>"のユーザー検索結果</h1>
        <% if @records.any? %>
          <table class="table">
            <thead>
              <tr>
                <th>ユーザー名</th>
                <th>最近の投稿</th>
              </tr>
            </thead>
            <tbody>
              <% @records.each do |user| %>
                <% unless user.guest_user? %> <!--ゲストユーザーは表示しない-->
                  <tr>
                    <td><%= link_to user.name, user_path(user) %></td>
                    <td>
                      <% if user.posts.any? %>
                        <%= link_to user.posts.last.title, post_path(user.posts.last), data: {turbolinks: "false"} %>
                        <small>(<%= user.posts.last.created_at.strftime("%Y-%m-%d") %>)</small>
                      <% else %>
                        まだ投稿がありません
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>該当するユーザーが見つかりませんでした</p>
        <% end %>
    
      <% elsif @model == 'post' %>
      <h1>"<%= @content %>"の投稿検索結果</h1>
      <!--絞り込み機能-->
      <%= render 'public/shared/filter', path: search_path %>
      <!--ソート機能-->
      <%= render 'public/shared/search_sort', path: search_path %>
        <% if @records.any? %>
          <!--一覧テーブル-->
          <%= render 'public/shared/posts_table', posts: @records %>
        <% else %>
          <p>該当する投稿が見つかりませんでした</p>
        <% end %>
      <% end %>
      <div class="row d-flex justify-content-center mb-3">
        <%= paginate @records %>
      </div>
    </div>
  </div>
</div>