<div class="container mt-3">
  <h1>ユーザー一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>登録日</th>
        <th>最近の投稿</th>
        <th>最近のコメント</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% unless user.guest_user? %> <!--ゲストユーザーは表示しない-->
          <tr>
            <td><%= link_to user.name, admin_user_path(user) %></td>
            <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
            <td>
              <% if user.posts.any? %>
                <%= link_to user.posts.last.title, post_path(user.posts.first) %> 
                <small>(<%= user.posts.last.created_at.strftime("%Y-%m-%d") %>)</small>
              <% else %>
                まだ投稿がありません
              <% end %>
            </td>
            <td>
              <% if user.comments.any? %>
                <%= user.comments.last.content.truncate(30) %>
                <small>(<%= user.comments.last.created_at.strftime("%Y-%m-%d") %>)</small>
              <% else %>
                まだコメントがありません
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
