<!DOCTYPE html>
<html>
  <head>
    <title>OyakoMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8333ae5b3e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Google Maps JavaScript API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&callback=initMap" async defer></script>

  </head>

  <body class="d-flex flex-column min-vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-custom d-flex align-items-center">
        <div class="container-fluid mx-5 d-flex align-items-center">
          <% if admin_signed_in? %>
            <%= link_to root_path, class: 'nav-link' do %>
              <%= image_tag asset_path('logo.png'), alt: 'おやこマップロゴ', class: 'logo' %>
            <% end %>
            <span class="ml-3">管理者権限でログインしています</span>
          <% elsif user_signed_in? %>
            <% if current_user.guest_user? %>
              <%= link_to main_page_path, style: "padding: 0;" do %>
                <%= image_tag asset_path('logo.png'), alt: 'おやこマップロゴ', class: 'logo' %>
              <% end %>
              <span class="ml-3">ようこそ、ゲストさん</span>
            <% else %>
              <%= link_to main_page_path, style: "padding: 0;" do %>
                <%= image_tag asset_path('logo.png'), alt: 'おやこマップロゴ', class: 'logo' %>
              <% end %>
              <span class="ml-3">ようこそ、<%= current_user.name %>さん</span>
            <% end %>
          <% else %>
            <%= link_to root_path, style: "padding: 0;" do %>
              <%= image_tag asset_path('logo.png'), alt: 'おやこマップロゴ', class: 'logo' %>
            <% end %>
          <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item text-center">
                  <%= link_to admin_root_path, class: 'nav-link d-flex flex-column align-items-center' do %>
                    <%= image_tag asset_path('posts.png'), alt: '投稿一覧', class: 'icon' %>
                    <span>投稿一覧</span>
                  <% end %>
                </li>
                <li class="nav-item text-center">
                  <%= link_to admin_users_path, class: 'nav-link d-flex flex-column align-items-center' do %>
                    <%= image_tag asset_path('users.png'), alt: 'ユーザー一覧', class: 'icon' %>
                    <span>ユーザー一覧</span>
                  <% end %>
                </li>
                <li class="nav-item text-center">
                  <%= link_to admin_tags_path, class: 'nav-link d-flex flex-column align-items-center' do %>
                    <%= image_tag asset_path('tags.png'), alt: 'タグ一覧', class: 'icon' %>
                    <span>タグ一覧</span>
                  <% end %>
                </li>
                <li class="nav-item text-center">
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link d-flex flex-column align-items-center' do %>
                    <%= image_tag asset_path('logout.png'), alt: 'ログイン', class: 'icon' %>
                    <span>ログアウト</span>
                  <% end %>
                </li>
                <li class="nav-item text-center">
                  <%= render 'admin/search/form' %>
                </li>
              <% elsif user_signed_in? %>
                  <li class="nav-item text-center">
                    <%= link_to posts_path, class: 'nav-link d-flex flex-column align-items-center' do %>
                      <%= image_tag asset_path('posts.png'), alt: '投稿一覧', class: 'icon' %>
                      <span>投稿一覧</span>
                    <% end %>
                  </li>
                <% if current_user && !current_user.guest_user? %>
                  <li class="nav-item text-center">
                    <%= link_to new_post_path, class: 'nav-link d-flex flex-column align-items-center' do %>
                      <%= image_tag asset_path('new-post.png'), alt: '投稿フォーム', class: 'icon' %>
                      <span>投稿フォーム</span>
                    <% end %>
                  </li>
                  <li class="nav-item text-center">
                    <%= link_to mypage_path, class: 'nav-link d-flex flex-column align-items-center' do %>
                      <%= image_tag asset_path('mypage.png'), alt: 'マイページ', class: 'icon' %>
                      <span>マイページ</span>
                    <% end %>
                  </li>
                <% end %>
                <li class="nav-item text-center">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link d-flex flex-column align-items-center' do %>
                    <%= image_tag asset_path('logout.png'), alt: 'ログアウト', class: 'icon' %>
                    <span>ログアウト</span>
                  <% end %>
                </li>
                <li class="nav-item text-center ml-3">
                  <%= render 'public/search/form' %>
                </li>
              <% else %>
                <li class="nav-item text-center">
                  <%= link_to new_user_registration_path, class: 'nav-link d-flex flex-column align-items-center' do %>
                    <%= image_tag asset_path('new-user.png'), alt: '新規登録', class: 'icon' %>
                    <span>新規登録</span>
                  <% end %>
                </li>
                <li class="nav-item text-center">
                  <%= link_to new_user_session_path, class: 'nav-link d-flex flex-column align-items-center' do %>
                    <%= image_tag asset_path('login.png'), alt: 'ログイン', class: 'icon' %>
                    <span>ログイン</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <main class="flex-grow-1">
      <%= yield %>
    </main>
    <footer class="container-fluid d-flex align-items-center justify-content-center pt-5 pb-4 footer-custom">
      <div class="row">
        <p>© 2024 おやこマップ</p>
      </div>
    </footer>
  </body>
</html>
